


{% extends "test.html" %}
{% block contenido %}
<a class="btn btn-primary" href="{% url 'crear_prestamo' %}" role="button">Añadir</a>
<a class="btn btn-warning" href="{% url 'editar_prestamo' %}" role="button">Editar</a>
<a class="btn btn-danger" href="{% url 'borrar_prestamo' %}" role="button">Borrar</a>
{% if listaprestamos.len != 0%}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for prestamo in listaprestamos %}
      <tr>
        <th scope="row">{{prestamo.libro}}</th>
        <td>{{prestamo.usuario}}</td>
        <td>{{prestamo.fecha}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h2> No hay préstamos</h2>
  {% endif %}
  
{% endblock %}