<!doctype html>
<html lang="en">
{% load socialaccount %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">Django</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <a class="nav-link" href="{% url 'mostrar_libros' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Libros
                    </a>
                    <a class="nav-link toggle" href="{% url 'mostrar_prestamos' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Préstamos
                    </a>
              </div>
            </div>
            {% if user.is_authenticated %}
            <span class="navbar-text ">
              <p>Hola, {{ user.username }}</p>
            </span>
            <span class="nav-link">
              <a class="btn btn-outline-primary "href="{% url 'logout' %}" style="color: blue; margin-right: 15px;">Salir </a>
            </span>
            {% else %}
            <span class="nav-link">
              <a class="btn btn-outline-primary" href="{% url 'login' %}" style="color: blue; margin-right: 15px;">Accede</a>
            </span> 
            {% endif %}
          </nav>
      </header>
      <main>
        {% block contenido %}{% endblock %}
      </main>
</body>